h1{
	font-size: 3vw; 
	font-family: 'Cherry Swash', cursive;
}
p{
	margin-right: 5vw; 
	margin-left: 5vw;
	font-size: 1.25vw;
	font-family: 'Sriracha', cursive;
}
img {
	display: block; 
	margin-right: auto; 
	margin-left: auto; 
	width: 50%;
}
a{
	font-family: 'Sriracha', cursive; 
	font-size: 1.25vw;
}