h1
{
	width: 100vw;
	border: 10px solid white;
	font-family: 'Spartan';
	font-size: 3vw;
	text-align: center;
	position: fixed;
	top: 3vw;
	color: black;
	background-color: white;
} 
h2
{
	width: 8vw;
	position: fixed;
	top: 9vw;
	left: 4vw;
	font-size: 2vw;
	font-family: 'Spartan';
	color: blue;
} 
img
{
	position: fixed;
	top: 12vw;
	left: 0vw;
	width: 15vw;
}
p
{
	position: fixed;
	top: 3vw;
	left: 10vw;
	font-size: 2vw;
	font-family: 'Spartan';
	color: blue;
}
.button1 
{
	color: green;
	padding: 3vw 2vw;
	text-align: center;
	display: inline-block;
	font-family: 'Spartan';
	font-size: 2vw;
	margin: 4vw 2vw;
	transition: 0.4s;
	position: fixed;
	left: 20vw;
	top: 14vw;
}
.button1:hover
{
	background-color: green; 
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2 
{
	color: red;
	padding: 3vw 2vw;
	text-align: center;
	display: inline-block;
	font-family: 'Spartan';
	font-size: 2vw;
	margin: 4vw 2vw;
	transition: 0.4s;
	position: fixed;
	left: 46vw;
	top: 14vw;
}
.button2:hover 
{
	background-color: red;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button3 
{
	color: red;
	padding: 3vw 2vw;
	text-align: center;
	display: inline-block;
	font-family: 'Spartan';
	font-size: 2vw;
	margin: 4vw 2vw;
	transition: 0.4s;
	position: fixed;
	right: 17vw;
	top: 14vw;
}
.button3:hover 
{
	background-color: red;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.speech-bubble {
	position: fixed;
	background: white;
	top: 12vw;
	left: 12vw;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 2;
	height: 2;
	border: 1vw solid transparent;
	border-top-color: white;
	border-bottom: 2vw;
	border-left: 0;
	margin-left: 1vw;
	margin-bottom: -1vw;
}